@font-face {
    font-family: "ActayWide-Bold";
    src: url("../../assets/fonts/ActayWide-Bold.otf");
}

@font-face {
    font-family: "Actay-Regular";
    src: url("../../assets/fonts/Actay-Regular.otf");
}